[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
plotly = "*"
dash = "*"
fastqcparser = "*"
waitress="*"

[dev-packages]
pytest = "*"
